a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

header {
  height: 90px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.06);
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100%;
  text-decoration: none; /* no underline */
  color: inherit; /* no purple color */
}

.logo:hover {
  text-decoration: none;
}

.logo > img {
  width: 70px;
  margin-right: 10px;
}

.logo > h2 {
  font-weight: 400;
}

header nav {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 20px;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 90px);
}

select {
  margin-right: 10px;
  padding: 10px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.generate-quiz-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 10px 30px;
  height: 40px;
}

.generate-quiz-form input {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  min-width: 150px;
  max-width: 500px;
  flex-grow: 1;
}

.generate-quiz-form button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #009cdf;
  color: white;
  cursor: pointer;
}

.quiz-app {
  padding: 20px;
}

.quiz-app h2 {
  margin-bottom: 10px;
}

.quiz-app button {
  display: block;
  margin: 8px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
  color: black;
  transition: background-color 0.3s, color 0.3s;
}

.quiz-app button.correct {
  background-color: #4caf50;
  color: white;
}

.quiz-app button.incorrect {
  background-color: #f44336;
  color: white;
}

.quiz-app button.dimmed {
  opacity: 0.6;
}

.quiz-app button:disabled {
  cursor: not-allowed;
}

/* button {
  font-family: "A";
} */

.login-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.06);
  height: 300px;
  width: 300px;
  background: #ffffff;
  border-radius: 8px;
}

.login-button {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #009cdf;
  color: white;
  cursor: pointer;
}

.centered-container {
  display: flex;
  justify-content: center;
  /* center horizontally */
  align-items: center;
  /* center vertically */
  height: 100vh;
  /* full viewport height */
  margin: 0;
  /* remove default spacing */
  background: #f5f7fa;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 20vw;
  padding-right: 20vw;
}

/* Article Card and Table */
.article-table {
  display: flex;
  flex-wrap: wrap; /* Allow cards to go to next line */
  justify-content: space-between; /* Space between cards */
  align-items: stretch; /* Make cards the same height */
  gap: 15px; /* Space between cards */
}

.article-card {
  background-color: #f7fafb; /* Light teal for card background */
  border: 2px solid #d3edee; /* Light teal border */
  border-radius: 10px;
  flex: 1 200px; /* flexibly grow, min width 200px */
  padding: 20px;
  text-align: left;
  transition: transform 0.3s, box-shadow 0.3s; /* Smooth animation for hover */
  cursor: pointer;
}

.article-card:hover {
  transform: translateY(-5px); /* Lifts the card slightly */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Emphasized shadow on hover */
}

.article-card h2 {
  font-size: 16px;
  color: #905aa6; /* Purple for card titles */
  margin-bottom: 10px;
}

.article-card p {
  font-size: 14px;
  color: #55565a; /* Cool gray for text */
}
